:root {
    --color-primary: #6C727F;
    --color-secondary: #E5E7EB;
    --color-background: #F9FAFB;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-accent: #3662E3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter__figure {
    margin-top: 80px;
}

.newsletter__title {
    font-size: 3rem;
    margin-top: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.newsletter__text {
    font-size: 1.25rem;
    text-align: center;
    color: var(--color-primary);
   
}

.newsletter__form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0 4px 10px 4px var(--color-secondary);
}

.newsletter__input {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 24px;
    border-radius: 10px;
    border: none;
}

.newsletter__input--text {
    background-color: var(--color-background);
}

.newsletter__input::placeholder {
    text-align: center;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
}

.newsletter__input--button {
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
}

.newsletter_helper-text {
    font-size: 0.875rem;
    color: var(--color-primary);
    font-weight: 400px;
}

@media screen and (min-width: 1024px) {
    .newsletter__form {
        width: 66.66%;
    }
}

@media screen and (min-width: 1280px) {
    .newsletter__form {
        width: 50%;
    }
}